In [12]:
import requests
import pandas as pd

# Read in the cities and their zip codes
CityZipCodes = pd.read_csv("cityzipcodes.csv",sep="|")
CityZipCodes = CityZipCodes.loc[:,"City":"Zipcode"]
CityZipCodes.head()

       City State  Zipcode
0  Aberdeen    WA    98520
1  Aberdeen    WA    98535
2  Aberdeen    WA    98536
3  Aberdeen    WA    98537
4  Aberdeen    WA    98547

In [16]:
CaliforniaCities = CityZipCodes.loc[CityZipCodes['State'] == "CA"]
CaliforniaCities.head()

             City State  Zipcode
392  Antelope Vly    CA    93534
393  Antelope Vly    CA    93535
394  Antelope Vly    CA    93536
395  Antelope Vly    CA    93539
396  Antelope Vly    CA    93543

In [30]:
#http://www.airnowapi.org/aq/observation/zipCode/historical/?format=application/json&zipCode=20002&date=2018-11-28T00-0000&distance=25&API_KEY=3F8A6B70-6908-4FB0-92F8-10D3FC3176E5
url = "http://www.airnowapi.org/aq/observation/zipCode/historical/"
querystring = {"format":"csv","zipCode":"20002","date":"2018-11-28T00-0000","distance":"25","API_KEY":"3F8A6B70-6908-4FB0-92F8-10D3FC3176E5"}
response = requests.request("GET", url, params=querystring)
print(response.text)
cr = csv.reader(response)

"DateObserved","HourObserved","LocalTimeZone","ReportingArea","StateCode","Latitude","Longitude","ParameterName","AQI","CategoryNumber","CategoryName"
"2018-11-28 ","0","EST","Metropolitan Washington","DC","38.919","-77.013","OZONE","24","1","Good"
"2018-11-28 ","0","EST","Metropolitan Washington","DC","38.919","-77.013","PM2.5","16","1","Good"
"2018-11-28 ","0","EST","Metropolitan Washington","DC","38.919","-77.013","PM10","15","1","Good"

In [46]:
# Create a map from AQSID to county name for all counties in California
SiteLocations = pd.read_table("monitoring_site_locations.dat",sep="|",encoding = "ISO-8859-1")
CASiteLocations = SiteLocations.loc[SiteLocations['state name'] == "CA"]
CASiteLocations = CASiteLocations.loc[:,['AQSID','state name','county name']].drop_duplicates()
CASiteLocations

              AQSID state name                 county name
413       060271023         CA                        INYO
463       060731010         CA                   SAN DIEGO
550       060431003         CA                    MARIPOSA
605       060798006         CA             SAN LUIS OBISPO
664       060295002         CA                        KERN
738       060550004         CA                        NAPA
777    840060299999         CA                        KERN
1268      060816001         CA                   SAN MATEO
1274      060976001         CA                      SONOMA
1299      060856001         CA                 SANTA CLARA
1305      060392010         CA                      MADERA
1308      061072010         CA                      TULARE
1310      060871003         CA                  SANTA CRUZ
1342      060374004         CA                 LOS ANGELES
1360      060231005         CA                    HUMBOLDT
1390      060879992         CA                  SANTA CRUZ
1394      060879994         CA                  SANTA CRUZ
1407      060136005         CA                CONTRA COSTA
1412      060556001         CA                        NAPA
1476      060072002         CA                       BUTTE
1493      060871005         CA                  SANTA CRUZ
1726      060010007         CA                     ALAMEDA
1740      060074001         CA                       BUTTE
1745      060130002         CA                CONTRA COSTA
1758      060190008         CA                      FRESNO
1770      060250005         CA                    IMPERIAL
1780      060290008         CA                        KERN
1781      060296001         CA                        KERN
1785      060370113         CA                 LOS ANGELES
1797      060452002         CA                   MENDOCINO
...             ...        ...                         ...
8982      060051033         CA                      AMADOR
9396      060379034         CA                 LOS ANGELES
9444      060711001         CA              SAN BERNARDINO
9494      060639901         CA                      PLUMAS
9509      069999915         CA  PROXY SITE - CA - CONSTANT
9524      060890009         CA                      SHASTA
9532      060658005         CA                   RIVERSIDE
9579      069999995         CA  PROXY SITE - CA - CONSTANT
9638      060670014         CA                  SACRAMENTO
9672      060852009         CA                 SANTA CLARA
9724      060450010         CA                   MENDOCINO
9736      060612001         CA                      PLACER
9742      060010015         CA                     ALAMEDA
9751   840060199999         CA                      FRESNO
9753   840061079998         CA                      TULARE
9998      060376012         CA                 LOS ANGELES
10014     061110009         CA                     VENTURA
10136     069999916         CA  PROXY SITE - CA - CONSTANT
10162     061030006         CA                      TEHAMA
10237     060731016         CA                   SAN DIEGO
10263     060879991         CA                  SANTA CRUZ
10268     060756002         CA               SAN FRANCISCO
10273     060956001         CA                      SOLANO
10303     060016001         CA                     ALAMEDA
10309     060016003         CA                     ALAMEDA
10326     060270021         CA                        INYO
10333     060270028         CA                        INYO
10373     060970004         CA                      SONOMA
10430     060631010         CA                      PLUMAS
10468     060731022         CA                   SAN DIEGO

[316 rows x 3 columns]

In [91]:
# Create a county name data frame
CountyAirQuality = CASiteLocations.loc[:,'county name'].to_frame().drop_duplicates().sort_values(by=['county name'])
CountyAirQuality['Good (days)'] = 0
CountyAirQuality['Moderate (days)'] = 0
CountyAirQuality['Unhealthy for Sensitive Groups (days)'] = 0
CountyAirQuality['Unhealthy (days)'] = 0
CountyAirQuality['Very Unhealthy (days)'] = 0
CountyAirQuality['Hazardous (days)'] = 0
CountyAirQuality['Total (days)'] = 0

CountyAirQuality

,county name,Good (days),Moderate (days),Unhealthy for Sensitive Groups (days),Unhealthy (days),Very Unhealthy (days),Hazardous (days),Total (days)
1726,ALAMEDA,0,0,0,0,0,0,0
1869,AMADOR,0,0,0,0,0,0,0
1476,BUTTE,0,0,0,0,0,0,0
4233,CALAVERAS,0,0,0,0,0,0,0
4043,COLUSA,0,0,0,0,0,0,0
1407,CONTRA COSTA,0,0,0,0,0,0,0
3482,EL DORADO,0,0,0,0,0,0,0
1758,FRESNO,0,0,0,0,0,0,0
4101,GLENN,0,0,0,0,0,0,0
1360,HUMBOLDT,0,0,0,0,0,0,0
1770,IMPERIAL,0,0,0,0,0,0,0
413,INYO,0,0,0,0,0,0,0
664,KERN,0,0,0,0,0,0,0
5355,KINGS,0,0,0,0,0,0,0
1342,LOS ANGELES,0,0,0,0,0,0,0
1305,MADERA,0,0,0,0,0,0,0
5213,MARIN,0,0,0,0,0,0,0
550,MARIPOSA,0,0,0,0,0,0,0
1797,MENDOCINO,0,0,0,0,0,0,0
3521,MERCED,0,0,0,0,0,0,0
6035,MONO,0,0,0,0,0,0,0
2075,MONTEREY,0,0,0,0,0,0,0
738,NAPA,0,0,0,0,0,0,0
1801,NEVADA,0,0,0,0,0,0,0
1907,ORANGE,0,0,0,0,0,0,0
1916,PLACER,0,0,0,0,0,0,0
2996,PLUMAS,0,0,0,0,0,0,0
3141,PROXY SITE - CA - CONSTANT,0,0,0,0,0,0,0
1919,RIVERSIDE,0,0,0,0,0,0,0
1928,SACRAMENTO,0,0,0,0,0,0,0
5241,SAN BENITO,0,0,0,0,0,0,0
1805,SAN BERNARDINO,0,0,0,0,0,0,0
463,SAN DIEGO,0,0,0,0,0,0,0
8136,SAN FRANCISCO,0,0,0,0,0,0,0
5396,SAN JOAQUIN,0,0,0,0,0,0,0
605,SAN LUIS OBISPO,0,0,0,0,0,0,0
1268,SAN MATEO,0,0,0,0,0,0,0
1820,SANTA BARBARA,0,0,0,0,0,0,0
1299,SANTA CLARA,0,0,0,0,0,0,0
1310,SANTA CRUZ,0,0,0,0,0,0,0
4297,SHASTA,0,0,0,0,0,0,0
8301,SISKIYOU,0,0,0,0,0,0,0
1967,SOLANO,0,0,0,0,0,0,0
1274,SONOMA,0,0,0,0,0,0,0
3586,STANISLAUS,0,0,0,0,0,0,0
1972,SUTTER,0,0,0,0,0,0,0
3592,TEHAMA,0,0,0,0,0,0,0
3251,TRINITY,0,0,0,0,0,0,0
1308,TULARE,0,0,0,0,0,0,0
1977,TUOLUMNE,0,0,0,0,0,0,0
1980,VENTURA,0,0,0,0,0,0,0
1826,YOLO,0,0,0,0,0,0,0

In [92]:
# Experiment with data @20171231
file_path = "./2018/20171231-peak.dat"
AirQualityDataFrame = pd.read_csv(file_path,names=['Date','AQSID','sitename','parameter name','reporting units','value','averaging period','data source'],sep="|",encoding = "ISO-8859-1")
# Only care about PM2.5 for now
PM25DataFrame = AirQualityDataFrame.loc[AirQualityDataFrame['parameter name'] == 'PM2.5-24hr',:]
#print(PM25DataFrame)
for index, row in PM25DataFrame.iterrows() :
    CurrentAQSID = row['AQSID']
    CurrentValue = row['value']
    CountyNameSeries = CASiteLocations.loc[CASiteLocations['AQSID'] == CurrentAQSID,:]
    if CountyNameSeries['county name'].count() != 0 :
        CurrentCountyName = CountyNameSeries.iloc[0]['county name']
        CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Total (days)'] += 1
        if CurrentValue <= 50 : 
            CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Good (days)'] += 1
        elif CurrentValue <= 100 :
            CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Moderate (days)'] += 1
        elif CurrentValue <= 150 :
            CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Unhealthy for Sensitive Groups (days)'] += 1
        elif CurrentValue <= 200 :
            CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Unhealthy (days)'] += 1
        elif CurrentValue <= 300 :
            CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Very Unhealthy (days)'] += 1
        elif CurrentValue <= 500 :
            CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Hazardous (days)'] += 1

CountyAirQuality

,county name,Good (days),Moderate (days),Unhealthy for Sensitive Groups (days),Unhealthy (days),Very Unhealthy (days),Hazardous (days),Total (days)
1726,ALAMEDA,5,0,0,0,0,0,5
1869,AMADOR,0,0,0,0,0,0,0
1476,BUTTE,3,0,0,0,0,0,3
4233,CALAVERAS,1,0,0,0,0,0,1
4043,COLUSA,1,0,0,0,0,0,1
1407,CONTRA COSTA,2,0,0,0,0,0,2
3482,EL DORADO,0,0,0,0,0,0,0
1758,FRESNO,0,3,0,0,0,0,3
4101,GLENN,1,0,0,0,0,0,1
1360,HUMBOLDT,0,0,0,0,0,0,0
1770,IMPERIAL,1,0,0,0,0,0,1
413,INYO,3,0,0,0,0,0,3
664,KERN,1,1,0,0,0,0,2
5355,KINGS,0,0,0,0,0,0,0
1342,LOS ANGELES,5,1,0,0,0,0,6
1305,MADERA,0,0,0,0,0,0,0
5213,MARIN,1,0,0,0,0,0,1
550,MARIPOSA,1,0,0,0,0,0,1
1797,MENDOCINO,1,0,0,0,0,0,1
3521,MERCED,0,1,0,0,0,0,1
6035,MONO,0,0,0,0,0,0,0
2075,MONTEREY,3,0,0,0,0,0,3
738,NAPA,1,0,0,0,0,0,1
1801,NEVADA,2,0,0,0,0,0,2
1907,ORANGE,1,0,0,0,0,0,1
1916,PLACER,4,0,0,0,0,0,4
2996,PLUMAS,1,0,0,0,0,0,1
3141,PROXY SITE - CA - CONSTANT,0,0,0,0,0,0,0
1919,RIVERSIDE,5,0,0,0,0,0,5
1928,SACRAMENTO,4,0,0,0,0,0,4
5241,SAN BENITO,1,0,0,0,0,0,1
1805,SAN BERNARDINO,3,0,0,0,0,0,3
463,SAN DIEGO,4,0,0,0,0,0,4
8136,SAN FRANCISCO,1,0,0,0,0,0,1
5396,SAN JOAQUIN,2,0,0,0,0,0,2
605,SAN LUIS OBISPO,4,0,0,0,0,0,4
1268,SAN MATEO,1,0,0,0,0,0,1
1820,SANTA BARBARA,4,0,0,0,0,0,4
1299,SANTA CLARA,2,0,0,0,0,0,2
1310,SANTA CRUZ,5,0,0,0,0,0,5
4297,SHASTA,1,0,0,0,0,0,1
8301,SISKIYOU,0,0,0,0,0,0,0
1967,SOLANO,3,0,0,0,0,0,3
1274,SONOMA,1,0,0,0,0,0,1
3586,STANISLAUS,0,2,0,0,0,0,2
1972,SUTTER,1,0,0,0,0,0,1
3592,TEHAMA,1,0,0,0,0,0,1
3251,TRINITY,0,0,0,0,0,0,0
1308,TULARE,1,2,0,0,0,0,3
1977,TUOLUMNE,0,0,0,0,0,0,0
1980,VENTURA,5,0,0,0,0,0,5
1826,YOLO,2,0,0,0,0,0,2

In [93]:
# Now let's do this for 20180101 to 20181120
DateList = [d.strftime('%Y%m%d') for d in pd.date_range('1/1/2018','11/20/2018')]
for d in DateList :
    file_path = "./2018/" + d + "-peak.dat"
    AirQualityDataFrame = pd.read_csv(file_path,names=['Date','AQSID','sitename','parameter name','reporting units','value','averaging period','data source'],sep="|",encoding = "ISO-8859-1")
    # Only care about PM2.5 for now
    PM25DataFrame = AirQualityDataFrame.loc[AirQualityDataFrame['parameter name'] == 'PM2.5-24hr',:]
    print("Processing date:", d)
    for index, row in PM25DataFrame.iterrows() :
        CurrentAQSID = row['AQSID']
        CurrentValue = row['value']
        CountyNameSeries = CASiteLocations.loc[CASiteLocations['AQSID'] == CurrentAQSID,:]
        if CountyNameSeries['county name'].count() != 0 :
            CurrentCountyName = CountyNameSeries.iloc[0]['county name']
            CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Total (days)'] += 1
            if CurrentValue <= 50 : 
                CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Good (days)'] += 1
            elif CurrentValue <= 100 :
                CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Moderate (days)'] += 1
            elif CurrentValue <= 150 :
                CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Unhealthy for Sensitive Groups (days)'] += 1
            elif CurrentValue <= 200 :
                CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Unhealthy (days)'] += 1
            elif CurrentValue <= 300 :
                CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Very Unhealthy (days)'] += 1
            elif CurrentValue <= 500 :
                CountyAirQuality.loc[CountyAirQuality['county name'] == CurrentCountyName, 'Hazardous (days)'] += 1

Processing date: 20180101
Processing date: 20180102
Processing date: 20180103
Processing date: 20180104
Processing date: 20180105
Processing date: 20180106
Processing date: 20180107
Processing date: 20180108
Processing date: 20180109
Processing date: 20180110
Processing date: 20180111
Processing date: 20180112
Processing date: 20180113
Processing date: 20180114
Processing date: 20180115
Processing date: 20180116
Processing date: 20180117
Processing date: 20180118
Processing date: 20180119
Processing date: 20180120
Processing date: 20180121
Processing date: 20180122
Processing date: 20180123
Processing date: 20180124
Processing date: 20180125
Processing date: 20180126
Processing date: 20180127
Processing date: 20180128
Processing date: 20180129
Processing date: 20180130
Processing date: 20180131
Processing date: 20180201
Processing date: 20180202
Processing date: 20180203
Processing date: 20180204
Processing date: 20180205
Processing date: 20180206
Processing date: 20180207
Processing date: 20180208
Processing date: 20180209
Processing date: 20180210
Processing date: 20180211
Processing date: 20180212
Processing date: 20180213
Processing date: 20180214
Processing date: 20180215
Processing date: 20180216
Processing date: 20180217
Processing date: 20180218
Processing date: 20180219
Processing date: 20180220
Processing date: 20180221
Processing date: 20180222
Processing date: 20180223
Processing date: 20180224
Processing date: 20180225
Processing date: 20180226
Processing date: 20180227
Processing date: 20180228
Processing date: 20180301
Processing date: 20180302
Processing date: 20180303
Processing date: 20180304
Processing date: 20180305
Processing date: 20180306
Processing date: 20180307
Processing date: 20180308
Processing date: 20180309
Processing date: 20180310
Processing date: 20180311
Processing date: 20180312
Processing date: 20180313
Processing date: 20180314
Processing date: 20180315
Processing date: 20180316
Processing date: 20180317
Processing date: 20180318
Processing date: 20180319
Processing date: 20180320
Processing date: 20180321
Processing date: 20180322
Processing date: 20180323
Processing date: 20180324
Processing date: 20180325
Processing date: 20180326
Processing date: 20180327
Processing date: 20180328
Processing date: 20180329
Processing date: 20180330
Processing date: 20180331
Processing date: 20180401
Processing date: 20180402
Processing date: 20180403
Processing date: 20180404
Processing date: 20180405
Processing date: 20180406
Processing date: 20180407
Processing date: 20180408
Processing date: 20180409
Processing date: 20180410
Processing date: 20180411
Processing date: 20180412
Processing date: 20180413
Processing date: 20180414
Processing date: 20180415
Processing date: 20180416
Processing date: 20180417
Processing date: 20180418
Processing date: 20180419
Processing date: 20180420
Processing date: 20180421
Processing date: 20180422
Processing date: 20180423
Processing date: 20180424
Processing date: 20180425
Processing date: 20180426
Processing date: 20180427
Processing date: 20180428
Processing date: 20180429
Processing date: 20180430
Processing date: 20180501
Processing date: 20180502
Processing date: 20180503
Processing date: 20180504
Processing date: 20180505
Processing date: 20180506
Processing date: 20180507
Processing date: 20180508
Processing date: 20180509
Processing date: 20180510
Processing date: 20180511
Processing date: 20180512
Processing date: 20180513
Processing date: 20180514
Processing date: 20180515
Processing date: 20180516
Processing date: 20180517
Processing date: 20180518
Processing date: 20180519
Processing date: 20180520
Processing date: 20180521
Processing date: 20180522
Processing date: 20180523
Processing date: 20180524
Processing date: 20180525
Processing date: 20180526
Processing date: 20180527
Processing date: 20180528
Processing date: 20180529
Processing date: 20180530
Processing date: 20180531
Processing date: 20180601
Processing date: 20180602
Processing date: 20180603
Processing date: 20180604
Processing date: 20180605
Processing date: 20180606
Processing date: 20180607
Processing date: 20180608
Processing date: 20180609
Processing date: 20180610
Processing date: 20180611
Processing date: 20180612
Processing date: 20180613
Processing date: 20180614
Processing date: 20180615
Processing date: 20180616
Processing date: 20180617
Processing date: 20180618
Processing date: 20180619
Processing date: 20180620
Processing date: 20180621
Processing date: 20180622
Processing date: 20180623
Processing date: 20180624
Processing date: 20180625
Processing date: 20180626
Processing date: 20180627
Processing date: 20180628
Processing date: 20180629
Processing date: 20180630
Processing date: 20180701
Processing date: 20180702
Processing date: 20180703
Processing date: 20180704
Processing date: 20180705
Processing date: 20180706
Processing date: 20180707
Processing date: 20180708
Processing date: 20180709
Processing date: 20180710
Processing date: 20180711
Processing date: 20180712
Processing date: 20180713
Processing date: 20180714
Processing date: 20180715
Processing date: 20180716
Processing date: 20180717
Processing date: 20180718
Processing date: 20180719
Processing date: 20180720
Processing date: 20180721
Processing date: 20180722
Processing date: 20180723
Processing date: 20180724
Processing date: 20180725
Processing date: 20180726
Processing date: 20180727
Processing date: 20180728
Processing date: 20180729
Processing date: 20180730
Processing date: 20180731
Processing date: 20180801
Processing date: 20180802
Processing date: 20180803
Processing date: 20180804
Processing date: 20180805
Processing date: 20180806
Processing date: 20180807
Processing date: 20180808
Processing date: 20180809
Processing date: 20180810
Processing date: 20180811
Processing date: 20180812
Processing date: 20180813
Processing date: 20180814
Processing date: 20180815
Processing date: 20180816
Processing date: 20180817
Processing date: 20180818
Processing date: 20180819
Processing date: 20180820
Processing date: 20180821
Processing date: 20180822
Processing date: 20180823
Processing date: 20180824
Processing date: 20180825
Processing date: 20180826
Processing date: 20180827
Processing date: 20180828
Processing date: 20180829
Processing date: 20180830
Processing date: 20180831
Processing date: 20180901
Processing date: 20180902
Processing date: 20180903
Processing date: 20180904
Processing date: 20180905
Processing date: 20180906
Processing date: 20180907
Processing date: 20180908
Processing date: 20180909
Processing date: 20180910
Processing date: 20180911
Processing date: 20180912
Processing date: 20180913
Processing date: 20180914
Processing date: 20180915
Processing date: 20180916
Processing date: 20180917
Processing date: 20180918
Processing date: 20180919
Processing date: 20180920
Processing date: 20180921
Processing date: 20180922
Processing date: 20180923
Processing date: 20180924
Processing date: 20180925
Processing date: 20180926
Processing date: 20180927
Processing date: 20180928
Processing date: 20180929
Processing date: 20180930
Processing date: 20181001
Processing date: 20181002
Processing date: 20181003
Processing date: 20181004
Processing date: 20181005
Processing date: 20181006
Processing date: 20181007
Processing date: 20181008
Processing date: 20181009
Processing date: 20181010
Processing date: 20181011
Processing date: 20181012
Processing date: 20181013
Processing date: 20181014
Processing date: 20181015
Processing date: 20181016
Processing date: 20181017
Processing date: 20181018
Processing date: 20181019
Processing date: 20181020
Processing date: 20181021
Processing date: 20181022
Processing date: 20181023
Processing date: 20181024
Processing date: 20181025
Processing date: 20181026
Processing date: 20181027
Processing date: 20181028
Processing date: 20181029
Processing date: 20181030
Processing date: 20181031
Processing date: 20181101
Processing date: 20181102
Processing date: 20181103
Processing date: 20181104
Processing date: 20181105
Processing date: 20181106
Processing date: 20181107
Processing date: 20181108
Processing date: 20181109
Processing date: 20181110
Processing date: 20181111
Processing date: 20181112

Processing date: 20181113
Processing date: 20181114
Processing date: 20181115
Processing date: 20181116
Processing date: 20181117
Processing date: 20181118
Processing date: 20181119
Processing date: 20181120

In [94]:
CountyAirQuality

,county name,Good (days),Moderate (days),Unhealthy for Sensitive Groups (days),Unhealthy (days),Very Unhealthy (days),Hazardous (days),Total (days)
1726,ALAMEDA,1682,47,15,8,0,0,1752
1869,AMADOR,0,0,0,0,0,0,0
1476,BUTTE,911,21,4,4,6,2,948
4233,CALAVERAS,311,5,0,0,0,0,316
4043,COLUSA,508,22,5,0,1,0,536
1407,CONTRA COSTA,593,14,5,2,0,0,614
3482,EL DORADO,0,0,0,0,0,0,0
1758,FRESNO,932,28,0,0,0,0,960
4101,GLENN,293,8,0,1,0,0,302
1360,HUMBOLDT,94,1,0,0,0,0,95
1770,IMPERIAL,431,1,0,0,0,0,432
413,INYO,1144,10,1,2,1,0,1158
664,KERN,918,14,0,0,0,0,932
5355,KINGS,0,0,0,0,0,0,0
1342,LOS ANGELES,1733,6,1,0,0,0,1740
1305,MADERA,216,3,0,0,0,0,219
5213,MARIN,293,8,2,1,0,0,304
550,MARIPOSA,260,10,12,5,1,0,288
1797,MENDOCINO,403,11,1,3,1,0,419
3521,MERCED,293,14,0,0,0,0,307
6035,MONO,251,8,3,2,0,0,264
2075,MONTEREY,934,4,0,0,0,0,938
738,NAPA,298,7,2,0,0,0,307
1801,NEVADA,597,5,2,0,0,0,604
1907,ORANGE,322,2,0,0,0,0,324
1916,PLACER,1273,19,7,2,1,0,1302
2996,PLUMAS,851,8,0,0,0,0,859
3141,PROXY SITE - CA - CONSTANT,52,4,0,0,0,0,56
1919,RIVERSIDE,1661,1,0,0,0,0,1662
1928,SACRAMENTO,1516,18,15,4,6,0,1559
5241,SAN BENITO,303,1,0,0,0,0,304
1805,SAN BERNARDINO,929,2,0,0,0,0,931
463,SAN DIEGO,1202,1,0,0,0,0,1203
8136,SAN FRANCISCO,285,10,1,1,0,0,297
5396,SAN JOAQUIN,601,13,6,3,1,0,624
605,SAN LUIS OBISPO,1251,0,0,0,0,0,1251
1268,SAN MATEO,285,9,2,0,0,0,296
1820,SANTA BARBARA,1280,0,0,0,0,0,1280
1299,SANTA CLARA,881,25,4,0,0,0,910
1310,SANTA CRUZ,1012,15,0,0,0,0,1027
4297,SHASTA,179,28,2,0,0,0,209
8301,SISKIYOU,235,22,5,0,0,0,262
1967,SOLANO,899,16,6,2,0,0,923
1274,SONOMA,297,9,0,2,0,0,308
3586,STANISLAUS,597,14,12,2,0,0,625
1972,SUTTER,305,5,2,4,2,0,318
3592,TEHAMA,175,11,1,0,0,0,187
3251,TRINITY,4,0,0,0,0,0,4
1308,TULARE,857,40,0,0,0,0,897
1977,TUOLUMNE,0,0,0,0,0,0,0
1980,VENTURA,1565,0,0,0,0,0,1565
1826,YOLO,585,11,3,3,1,0,603